<head>
    <title>PiBot</title>
    <link rel="icon" href="/static/icons/pibot-icon.ico" type="image/x-icon" />
    <!-- Other imports -->
    <link rel='stylesheet' href='/static/style.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='/static/scripts/settings.js'></script>
</head>

<body>

    <div id='head_span'>

        <div id='menu'>
            <ul>
                <li>
                    <h1>PiBot</h1>
                </li>
                <li style='float:right; margin-right: 25px; margin-top: 25px;'>
                    <a href='/about'><i class="material-icons md-36 md-light" title='About' style='margin-left: 8px;'>info</i></a>
                    <a href='/'><i class="material-icons md-36 md-light" title='Control' style='margin-left: 8px;'>gamepad</i></a>
                    <a href='/logout'><i class="material-icons md-36 md-light" title='Logout' style='margin-left: 8px;'>login</i></a>
                    <a href='/settings'><i class="material-icons md-36 md-light" title='Settings' style='margin-left: 8px;'>settings</i></a>
                </li>
            </ul>
        </div>

    </div>

    <div id='main'>
        <h2>About</h2>
        <img src='/static/images/pibot-text.png'/>
        <p>A robot made using the Raspberry Pi computer capable of doing a few things.</p>
        <p>See repository on <a href='https://github.com/sccreeper/pibot' target='_blank'>GitHub</p>
        <br>
        <p><strong><a href='/about/license'>See license</a></strong></p>
        <p><i>&copy; Oscar Peace</i></p>
    </div>

</body>
