<head>
    <title>PiBot</title>
    <link rel="icon" href="/static/icons/pibot-icon.ico" type="image/x-icon" />
    <!-- Other imports -->
    <link rel='stylesheet' href='/static/style.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='/static/scripts/settings.js'></script>
</head>

<body>

    <div id='head_span'>

        <div id='menu'>
            <ul>
                <li>
                    <h1>PiBot</h1>
                </li>
                <li style='float:right; margin-right: 25px; margin-top: 25px;'>
                    <a href='/about'><i class="material-icons md-36 md-light" title='About' style='margin-left: 8px;'>info</i></a>
                    <a href='/'><i class="material-icons md-36 md-light" title='Control' style='margin-left: 8px;'>gamepad</i></a>
                    <a href='/logout'><i class="material-icons md-36 md-light" title='Logout' style='margin-left: 8px;'>login</i></a>
                    <a href='/settings'><i class="material-icons md-36 md-light" title='Settings' style='margin-left: 8px;'>settings</i></a>
                </li>
            </ul>
        </div>

    </div>


    <div id='main'>
        <h3>Settings</h3>
        <form action='/settings_update' method='post'>
            <p>Password</p>
            <input type='password' name='pass' id='pass' value={{password}} />
            <input type="checkbox" onclick="showPassword()">Show Password

            <br>
            <p>Port</p>
            <input type='text' name='port' value={{port}} title='Server restart required for port change to take effect'/>
            <br>
            <button onclick='this.parentElement.submit()' style='margin-top: 8px;' title='Save'><i class="material-icons">save</i></button>
        </form>
    </div>

</body>
