<head>
<title>PiBot</title>
<!-- Script imports -->
<script src='/static/scripts/ajax_requests.js'></script>
<script src='/static/scripts/keyboard_control.js'></script>
<!-- Other imports -->
<link rel='stylesheet' href='/static/style.css'>
</head>

<div id='head_span'><h1>PiBot</h1></div>



<div id='main'>
<p id='post_request'></p>
	
<h4>LED Control</h4>

<form method='POST' action='/control/rgb/'>
<input type='text' name='LED_R' placeholder='R'/>
<input type='text' name='LED_G' placeholder='G'/>
<input type='text' name='LED_B' placeholder='B'/>
<input type='submit' value='Submit'/>
</form>

<button onclick='post_request("/control/headlights/", "STATUS=on")'>LED ON</button>
<button onclick='post_request("/control/headlights/", "STATUS=off")'>LED OFF</button>

<br>

<h4>Direction control</h4>

<label for='keyboard_enable'>Enable keyboard control (WASD, Space for stop).</label>
<input type='checkbox' id='keyboard_enable'>

<br>

<button onclick='post_request("/control/motor/", "DIRECTION=forward")'>/\</button>
<button onclick='post_request("/control/motor/", "DIRECTION=backward")'>\/</button>
<button onclick='post_request("/control/motor/", "DIRECTION=left")'>&lt;</button>
<button onclick='post_request("/control/motor/", "DIRECTION=right")'>&gt;</button>
<button onclick='post_request("/control/motor/", "DIRECTION=stop")'>Stop</button>

<br>

<strong>Motor speed</strong>
<input type="range" min="1" max="100" value="50" id='motorSpeed' oninput='post_request("/control/motor/", "SPEED=" + this.value)'

<br>

<h4>Video Feed</h4>
<img src="{{ url_for('video_feed') }}" width='360' height='480'>
<br>

<h4>Camera</h4>
<button onclick='post_request("/control/camera/", "MODE=picture")'>Take picture</button>
<a href='/browse_images/'>Browse images</a>

<p>Stop the server</p>
<form method='POST' action='/stop_server'>
<input type='password' name='PASS'/>
<input type='submit' value='Enter'/>
</form>

</div>
