<head>
    <title>PiBot</title>
    <link rel="icon" href="/static/icons/pibot-icon.ico" type="image/x-icon" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Other imports -->
    <link rel='stylesheet' href='/static/style.css'>
</head>

<body>

    <div id='head_span'>

        <div id='menu'>
            <ul>
                <li>
                    <h1>PiBot</h1>
                </li>
                <li style='float:right; margin-right: 25px; margin-top: 25px;'>
                    <a href='/about'><i class="material-icons md-36 md-light" title='About' style='margin-left: 8px;'>info</i></a>
                    <a href='/'><i class="material-icons md-36 md-light" title='Control' style='margin-left: 8px;'>gamepad</i></a>
                    <a href='/logout'><i class="material-icons md-36 md-light" title='Logout' style='margin-left: 8px;'>login</i></a>
                    <a href='/settings'><i class="material-icons md-36 md-light" title='Settings' style='margin-left: 8px;'>settings</i></a>
                </li>
            </ul>
        </div>

    </div>



    <div id='main'>
        <p id='post_request'></p>

        <h4>LED Control</h4>

        <form method='POST' action='/control/rgb/'>
            <input type='text' name='LED_R' placeholder='R' />
            <input type='text' name='LED_G' placeholder='G' />
            <input type='text' name='LED_B' placeholder='B' />
            <input type='submit' value='Submit' />
        </form>

        <button onclick='postRequest("/control/headlights/", "STATUS=on")'>LED ON</button>
        <button onclick='postRequest("/control/headlights/", "STATUS=off")'>LED OFF</button>

        <br>

        <h4>Direction control</h4>

        <label for='keyboard_enable'>Enable keyboard control (WASD, Space for stop).</label>
        <input type='checkbox' id='keyboard_enable'>

        <br>

        <button onclick='postRequest("/control/motor/", "DIRECTION=forward")'>/\</button>
        <button onclick='postRequest("/control/motor/", "DIRECTION=backward")'>\/</button>
        <button onclick='postRequest("/control/motor/", "DIRECTION=left")'>&lt;</button>
        <button onclick='postRequest("/control/motor/", "DIRECTION=right")'>&gt;</button>
        <button onclick='postRequest("/control/motor/", "DIRECTION=stop")'>Stop</button>

        <br>

        <strong>Motor speed</strong>
        <input type="range" min="1" max="100" value="50" id='motorSpeed' oninput='postRequest("/control/motor/", "SPEED=" + this.value)' />

        <br>

        <h4>Video Feed</h4>
        <div id='videofeed.container'>
            <img src="{{ url_for('video_feed') }}" width='360' height='480'>
        </div>
        <br>


        <h4>Camera</h4>
        <button onclick='takePicture()'>Take picture</button>
        <a href='/browse_images/'>Browse images</a>

        <p>Stop the server</p>
        <form method='POST' action='/stop_server'>
            <input type='password' name='PASS' />
            <input type='submit' value='Enter' />
        </form>

    </div>

    <div id='debug'>
        <p id='debug.clock.cpu'></p>
        <p id='debug.clock.gpu'></p>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="debug.chart.clock"></canvas>
        </div>
        <p id='debug.temp.soc'></p>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="debug.chart.temp"></canvas>
        </div>
        <p id='debug.ip.host'></p>
        <p id='debug.ip.client'></p>
        <p id='debug.ip.ssid'></p>
        <p id='debug.upsince'></p>

        <canvas id='debug.gpio' width="48px" height="480px"></canvas>


        <hr>
        <p id='debug.log.size.lines'></p>
        <p id='debug.log.size.kb'></p>
        <strong><a href='/log'>View entire log</a></strong>
        <br>
        <div id='debug.log.div'>
            <pre id='debug.log.log'></pre>
        </div>
    </div>

</body>

<!-- Script imports -->
<script src='/static/scripts/ajax_requests.js'></script>
<script src='/static/scripts/keyboard_control.js'></script>
<script src='/static/scripts/gamepad_control.js'></script>
<script src='/static/scripts/debug.js'></script>
<script src='/static/scripts/photo.js'></script>
